*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    body{
       
        height: 100%;
        width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0.5)), url(../img/fondo\ 2.jpg);
   height: 100vh;
   
     background-position: center;
    background-size: cover;
    position: absolute; 
   
 

    }
    .formulario{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 400px;
        background: white;
        border-radius: 10px;
        color: lightseagreen;
        

    }
    .formulario h1{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }
   .formulario form{
    padding: 0 40px;
    box-sizing: border-box;
   }
  form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0 ;
  }
  .username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
  }
.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username span::before{
  
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: lightseagreen;
    transition: .5s;

}
.username input:focus ~ label,
.username input:focus ~ label{
    top:-5px;
    color:lightseagreen ;

}
.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}
.redes-sociales{
    margin:30px auto;
    text-align: center;
}
.redes-sociales img{
    width:30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}
.recordar{
    margin: -5px 0 20px 5px;
    color: lightseagreen;
    cursor:pointer
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 55px;
    border: 1.5px solid;
    background: lightseagreen;
    border-radius: 22px;
    font-size: 18px;
    color:rgb(0, 0, 0);
    cursor:pointer;
    outline:none;
}
input[type="submit"]:hover{
    border-color: darkblue;
    border: -200px;
    transition: .10s;
}
.registro{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;

}
.registro a{
    color:blue;
    text-decoration: none;

}
.registro a:hover{
    text-decoration: underline;
}

